The following query aims to see **if specific restaurant inspection violations are more prevalent among certain cuisines**.  
I calculated the conditional probabilities of specific violations per cuisine, and reported the *cuisine description*, *violation description*, *conditional probability*, and *number of violations*. Three tables (only relevant variables listed) were queried:

- violations
    - enddate
    - violationcode
    - violationdesc
- cuisine
    - cuisinecode
    - codedesc
- score_table, does not contain violation description or cuisine description
    - inspdate
    - violcode
    - cuisinecode

In [1]:
%load_ext sql
%sql # redacted magic

In [2]:
# redacted magic

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
522812 rows affected.

[]

In [3]:
%%sql

WITH
-- select violation code & violation description
-- violationcode to be used for inner join, violationdesc to be reported
viol_2014 AS (
SELECT violationcode, violationdesc
FROM violations
WHERE enddate > '2014-01-01'
),
-- group score_table by cuisine code & violation code
-- to calculate number of violations (per cuisine code & violation code)
-- cuisinecode, violcode to be used for inner join, num_viol to be used for conditional probability
viol_cui_100 AS (
SELECT cuisinecode, violcode, COUNT(violcode) AS num_viol
FROM score_table
WHERE inspdate > '2010-07-26' AND violcode IS NOT NULL
GROUP BY violcode, cuisinecode
HAVING COUNT(violcode) > 100
),
-- inner join
cond_tab AS (
SELECT * 
FROM viol_2014 JOIN viol_cui_100 
        ON viol_2014.violationcode = viol_cui_100.violcode
),

-- group score_table by cuisine code, to calculate number of violations (per cuisine code)
-- cuisinecode to be used for inner join, viol_by_cui to be used for conditional probability
viol_by_cui_tab AS (
SELECT cuisinecode, COUNT(violcode) AS viol_by_cui
FROM score_table
WHERE inspdate > '2010-07-26' AND violcode IS NOT NULL
GROUP BY cuisinecode
),
-- group score_table by violation code, to calculate number of violations (per violation code)
-- violcode to be used for inner join, num_viol_total to be used for conditional probability
viol_by_code_tab AS (
SELECT violcode, COUNT(violcode) AS num_viol_total
FROM score_table
WHERE inspdate > '2010-07-26' AND violcode IS NOT NULL
GROUP BY violcode
)

-- inner join, to calculate conditional probability of specific violations per cuisine
-- 517072 = total number of violations calculated elsewhere
SELECT codedesc, violationdesc, 
        ((num_viol::FLOAT/viol_by_cui::FLOAT)/(num_viol_total::FLOAT/517072)) AS cond_prob, num_viol
FROM cond_tab
        JOIN viol_by_cui_tab USING(cuisinecode)
        JOIN viol_by_code_tab USING(violcode)
        JOIN cuisine USING(cuisinecode)
ORDER BY cond_prob DESC
LIMIT 1;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
1 rows affected.

[('Japanese', 'Food worker does not use proper utensil to eliminate bare hand contact with food that will not receive adequate additional heat treatment.', 3.2318235829027198, 541)]